body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  color: #fff;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}
.btn {
  margin: 5px 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.btn:hover {
  background-color: #0056b3;
}
#toggle-favorite-btn {
  display: none;
}
.quote {
  font-style: italic;
}
.quote::after,
.quote::before {
  content: '"';
}
.favorite-card {
  background-color: #d9d9d9;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  width: 250px;
  color: #333;
}
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.author {
  font-style: italic;
}
